albumentations==2.0.8
astropy==7.2.0
colabtools==0.0.1
fastai==2.8.7
google-auth==2.47.0
imutils==0.5.4
ipykernel==6.17.1
ipyparallel==8.8.0
ipython==7.34.0
ipywidgets==8.1.8
jupyter-server==2.14.0
lapixdl==0.11.0
matplotlib==3.10.8
mlxtend==0.23.4
notebook==7.5.5
nvidia-cuda-nvcc==13.2.78
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
pandas==2.2.2
pathlib==1.0.1
portpicker==1.5.2
requests==2.32.4
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
torch==2.10.0
torchinfo==1.8.0
torchmetrics==1.9.0
torchvision==0.25.0
tornado==6.5.1
tqdm==4.67.3