colabtools==0.0.1
google-auth==2.47.0
ipykernel==6.17.1
ipyparallel==8.8.0
ipython==7.34.0
ipywidgets==8.1.8
jupyter-server==2.14.0
matplotlib==3.10.8
mlxtend==0.23.4
notebook==7.5.5
opencv-python==4.13.0.92
pandas==2.2.2
pathlib==1.0.1
portpicker==1.5.2
requests==2.32.4
torch==2.10.0
torchinfo==1.8.0
torchmetrics==1.9.0
torchvision==0.25.0
tornado==6.5.1
tqdm==4.67.3